*{
	margin:0px;
	padding:0px;
}
.processPortal{
	margin:0 auto;
	width:500px;
	height:400px;
	
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.processPortal-outer {
	padding-top:80px;
    background-image: url("../images/login_r1_c2.jpg");
	 background-position: 0 -300px;
}
.clearfix:after {  
	content: ".";  
	display: block;  
	height: 0;  
	clear: both;  
	visibility: hidden;  
}
.processPortal .legal_text {
    color: #999999;
    font-size: 11px;
    text-align: center;
}

.login_top_top1 {
    background-image: url("../images/login_top_top1.png");
	width:568px;
	height:111px;
}
.login_top_top2 {
    background-image: url("../images/login_top_top2.png");
	width:568px;
	height:250px;
}
.login_top_top2_inner {
	padding-top:165px;
	padding-left:220px;
	padding-right:38px;
}
.login_top_2 {
    background-image: url("../images/login_top_2.png");
	width:568px;
	height:20px;
}
.login_top_3 {
    background-image: url("../images/login_top_3.png");
	width:568px;
	height:72px;
}
.loginText{
	float:left;    
	width: 70px;
	padding-top:3px;
}
.loginInput{
	float:left;
}
.login_username_field{
	height:30px;    
	padding-top: 6px;
}
.login-field{
	width:120px;
}
.loginBtn{
	float:right;
}
.loginBtn-inner{
    background-image: url("../images/button.png");
	width:73px;
	height:24px;
	text-align:center;
	line-height:24px;
	font-weight:bold;
	cursor:pointer;
}


