body {
    font-size: 75%;
}
* {
    font-family: Helvetica,Arial,sans-serif;
}
.ctlDate .ctlDateHead{
	 background-color: #FFFFFF;
	 border:1px solid #B5BCC7;
	 width:180px;
}
.ctlDate .ctlDateHeadLeft{
	float:left;
}
.ctlDate .ctlDateHeadRight {
	float:left;
    background-image: url("./img/commonFormArrows.png");
    background-position: -35px 53%;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    margin: 0;
    width: 16px; 
	height: 20px;
	border-left:1px solid #B5BCC7;
}
.ctlDate .ctlDateHead .input{
	border:none;
	 width:160px;
}
.ctlDate .ctlDateBody{
	width:180px;
	position:absolute;
	 background-color: #FFFFFF;
	 border:1px solid #B5BCC7;
	 z-index:999;
}
.ctlDate .divBodyTopTLeft{
	padding-left:5px;
	float:left;
	width:20px;
	cursor:pointer;
}
.ctlDate .divBodyTopTRight{
	padding-right:5px;
	float:right;
	width:20px;    
	text-align: right;
	cursor:pointer;
}
.ctlDate .divBodyTopTCenter{
	padding-left:30px;
	padding-right:30px;
	text-align: center;
}
.BPMSectionHeader.box.blue{
	color:#fff;
	border:1px solid #21486c;
	background-color:#1B76BC;
	background-image: -o-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -moz-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -webkit-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	behavior: url(/teamworks/script/ext-lib/PIE.htc);
	-pie-background: linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -ms-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
}
.BPMSectionHeader.box{
	opacity:.85;
	padding:6px 10px 4px 10px;
	color:#000;
	border:1px solid #999;
	background-color:#BDC0C2;
	background-image: -o-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: -moz-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: -webkit-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	behavior: url(/teamworks/script/ext-lib/PIE.htc);
	-pie-background: linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: -ms-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
}
.BPMSectionHeader.blue {
    color: #21486C;
}
.BPMSectionHeader {
    padding: 5px 1em;
}
h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 18px;
    font-weight: bold;
}
.BPMSectionBody {
    margin: 0 1em;
	width:699px;
}
.BPMTable {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.clearfix:after {  
	content: ".";  
	display: block;  
	height: 0;  
	clear: both;  
	visibility: hidden;  
}
.wid20{
	width:200px;
}

.dojoxGridRowTable{
	width:100%;
}
.dojoxGrid{
	border:1px solid #E5DAC8;
}
.BPMButton {
	height:30px;
	
	color:#f2f2f2;
	background-color: #1b75bc;
	
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align:center;
 	font-size:14px;
	font-weight:bold;

	background-repeat: repeat-x;
/* turn off margin because coach views have their own. */
/*	margin: 0px 3px 3px 3px; */
	padding-bottom: 3px;
	
	border:1px solid #21486c;
	border-top-color:#4178aa;
	border-left-color:#4178aa;
	border-bottom-color:#21486c;
	border-right-color:#21486c;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B76BC', endColorstr='#124B80');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B76BC', endColorstr='#124B80')";
	
	background-position: 0px 0px;
	background-image: linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -o-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -moz-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -webkit-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -ms-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #124B80),
		color-stop(1, #1B76BC)
	);
}
.BPMButton:focus {
	border-bottom-color:#4178aa;
	border-right-color:#4178aa;
	border-top-color:#21486c;
	border-left-color:#21486c;
	background-image: linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -o-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -moz-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -webkit-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -ms-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1B76BC),
		color-stop(1, #124B80)
	);
}
.BPMButton:hover {
	color:#fff;
	
	border-top-color:#4178aa;
	border-left-color:#4178aa;
	border-bottom-color:#21486c;
	border-right-color:#21486c;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#429CE2', endColorstr='#124B80');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#429CE2', endColorstr='#124B80')";
	
	background-image: linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -o-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -moz-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -webkit-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -ms-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #124B80),
		color-stop(1, #429CE2)
	);
	
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.5);
	box-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.dojoxGridRowOver .dojoxGridCell{
	background-color:#ABD6FF;
	background-image: -o-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: -moz-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: -webkit-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	-pie-background: linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: -ms-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
}
.dojofp{
	float:left;
	padding-left:3px;
}

.dojoxGridCell {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #E5DAC8 #E5DAC8 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    outline: medium none;
    padding: 3px 5px;
    word-wrap: break-word;
}

.dojoxGridMasterHeader .dojoxGridCell {
	background-color:#D1E0EA;
	background-image: -o-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: -moz-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: -webkit-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	-pie-background: linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: -ms-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
}
.hide{
	display:none;
}
.bpm-task-header-subject > h2 {
    display: inline;
    font-size: 2em;
    font-weight: bold;
}
.bpm-task-header-subject {
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 5px;
}
.bpm-task-coach-container{ 
    padding-top: 7px;
}
.bpm-task-coach-container-inner{
	padding:7px;
}

/*
 * Task Row 
 */
.bpm-social-task-row {
	padding-bottom: 8px;
}

/* from Portal.css Task_box */
.bpm-social-task-box { /* box needs to be expanded!!! height:56px; */
	background-color: #f7f7f7;
	border: 1px solid #e8e8e8;
	-moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* from Portal.css Task_box */
.bpm-social-task-box-selected { /* box needs to be expanded!!! height:56px; */
	background-color: #eaeaea;
	border: 1px solid #e8e8e8;
	-moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* from Portal.css Task_box */
.bpm-social-task-box:hover {
	/*every thing is the same as task box excecpt...*/
	background-color: #e7f0f6;
}

.bpm-social-task-row-status-img-div {
	position: absolute;
	padding-top: 9px;
	padding-left: 3px;
}

.dijitRtl .bpm-social-task-row-status-img-div {
	padding-left: 0px;
	padding-right: 3px;
}

.bpm-social-task-row-status-img {
	position: absolute;
}

.bpm-social-task-row-data-div {
	padding: 12px 20px 12px 0px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.bpm-social-task-row-data-subject { /* from Portal.css Task_name_text */
	/*hover and normal states same as other a links except...*/
	font-size: 1.167em; /* 14px */
	font-weight: bold;
	float: left;    
	padding-top: 7px;
}

.bpm-social-task-row-data-actions {
	
}

.bpm-social-task-row-data-due {
	float: right;
}
.pagex-left{
	width:300px;
	float:left;
}
.pagex-left-inner{
	padding-right:5px;
}
.pagex-right{
	padding-left:300px;
}
a {
    color: #003F6B;
    text-decoration: none;
}
a:hover {
    color: #1b75bc;
    text-decoration: none;
}
.bpm-social-overdue {
    background: url("./img/Portal_sprite.png") no-repeat scroll -60px -60px transparent;
    height: 30px;
    width: 30px;
}

.ui-btn-up-c {
	border: 1px solid 		#ccc ;
	background: 			#eee ;
	font-weight: bold;
	color: 					#222 ;
	text-shadow: 0  1px  0  #ffffff ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #f1f1f1 )); 
	background-image: -webkit-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:    -moz-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:     -ms-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:      -o-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:         linear-gradient( #ffffff , #f1f1f1 );
}