<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/theme/blue/styles/global.css" rel="stylesheet" type="text/css" />
<link href="/theme/blue/styles/style.css" rel="stylesheet" type="text/css" />
<link href="/theme/blue/styles/compress.css" rel="stylesheet" type="text/css" />
<link href="/theme/blue/styles/skin_163blue.css" rel="stylesheet" type="text/css" />
<link href="/theme/blue/styles/default.css" rel="stylesheet" type="text/css" />
<link href="/theme/blue/styles/fixed.css" rel="stylesheet" type="text/css" />
<script src="${c_url_client_dojo_min}"></script>
<script>
dojo.ready(function(){
	dojo.initPage("","${sid}");
	dojo.addWidget(dojo.createObject("${m_page_body_widget_name}",{"path":"${path}","m_uri":"${m_uri}",sid:"${sid}"}),"page_body");
});
</script>
</head>
<body>
	<div id="page_body"></div>
</body>
</html>