*{
	margin:0px;
	padding:0px;
}
.processPortal{
	margin:0 auto;
	width:500px;
	height:400px;
	
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.processPortal .popup_window {
    background-color: #FFFFFF;
    border: 1px solid #323537;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}
.processPortal .login_window_content{
	margin:40px;
}
.processPortal .loginText {
    color: #2D2D2D;
    font-size: 18px;
    padding-bottom: 7px;
}
.processPortal .login-field{
	background-image: -moz-linear-gradient(center bottom , #FFFFFF 50%, #EFEFEF 100%);
    border: 1px solid #BBBBBB;
    color: #000000;
	height: 30px;
    width: 428px;
}
.processPortal .login_username_field{
    padding-bottom: 25px;
}
.processPortal .login_submit_field{
	text-align:right;
}
.processPortal .bspace-button {
	padding-bottom: 3px;
	
	height:30px;
	
	color:#f2f2f2;
	background-color: #1b75bc;
	
	border-radius: 4px;
	text-align:center;      
 	font-size:14px;
	font-weight:bold;
	
	border:1px solid #21486c;
	border-top-color:#4178aa;
	border-left-color:#4178aa;
	border-bottom-color:#21486c;
	border-right-color:#21486c;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B76BC', endColorstr='#124B80');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B76BC', endColorstr='#124B80')";
	
	background-position: 0px 0px;
	background-image: linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -o-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -moz-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -webkit-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -ms-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #124B80),
		color-stop(1, #1B76BC)
	);
}
.processPortal .btn {
    width: 126px;
}
.processPortal .login_header  {
	padding-left:3px;
	padding-bottom:20px;
}
.processPortal .login_header .login_ibm_logo {
	background-image:url("../images/login_logo.png");
	width:180px;
	height:50px;
    background-position: -32px -30px;
    background-repeat: no-repeat;
	float:left;
}
.processPortal-outer {
	padding-top:80px;
    background-image: url("../images/login_background.png");
}
.processPortal .BPM_process_portal_text {
    color: #FFFFFF;
    float: left;
    font-size: 24px;    
	padding-top: 11px;
}
.clearfix:after {  
	content: ".";  
	display: block;  
	height: 0;  
	clear: both;  
	visibility: hidden;  
}
.processPortal .legal_text {
    color: #999999;
    font-size: 11px;
    text-align: center;
}