<div>
	<a href="http://www.hao123.com/" target="_blank">网址大全</a>
	<a href="http://www.baidu.com" target="_blank">百度</a>
    <a href="http://www.google.com.hk/" target="_blank">谷歌</a>
    <a href="http://cn.bing.com/" target="_blank">必应</a>
    <a href="http://www.sina.com.cn" target="_blank">新浪</a>
    <a href="http://www.163.com" target="_blank">网易</a>
    <a href="http://login.sina.com.cn/signup/signup.php" target="_blank">新浪注册</a>
    <a href="http://www.sohu.com/" target="_blank">搜狐</a>
    <a href="http://www.ifeng.com/" target="_blank">凤凰</a>
    <a href="http://www.iteye.com/" target="_blank">iteye</a>
    <a href="http://www.iteer.net/" target="_blank">iteer</a>
    <a href="http://www.csdn.net/" target="_blank">csdn</a>
    <a href="http://www.oschina.net/" target="_blank">开源中国社区</a>
    <a href="http://down.admin5.com/" target="_blank">A5源码</a>
    <a href="http://www.soucode.com/" target="_blank">搜源码</a>
    <a href="http://www.kyuanma.com/" target="_blank">酷源码</a>
    <a href="http://www.360buy.com/" target="_blank">京东</a>
    <a href="http://www.525j.com.cn/index.shtml" target="_blank">我爱我家网</a>
    <a href="http://www.169pp.com/" target="_blank">169pp</a>
    <a href="http://junshi.xilu.com/" target="_blank">西陆军事</a>
    <a href="http://mil.qianlong.com/" target="_blank">千龙网</a>
    <a href="http://military.china.com/zh_cn/" target="_blank">中华军事</a>
    <a href="http://mil.news.sina.com.cn/" target="_blank">新浪军事</a>
    <a href="http://news.ifeng.com/mil/" target="_blank">凤凰军事</a>
    <a href="http://www.tiexue.net/" target="_blank">铁血军事</a>
    <a href="http://www.junshijia.com/" target="_blank">米尔军事</a>
    <a href="http://mil.huanqiu.com/" target="_blank">环球军事</a>
    <a href="http://www.chnqiang.com/" target="_blank">强国网</a>
    <a href="http://www.top81.com.cn/" target="_blank">鼎盛军事</a>
    <a href=" http://www.rexuemil.com/" target="_blank">热血军事</a>
    <a href="http://www.hong111.com/index.html" target="_blank">大名军事网</a>
    <a href="http://www.51junshi.com/" target="_blank">51军事</a>
    <a href="http://bj.ganji.com/fang1/changping/" target="_blank">赶集网</a>
    <a href="http://focus.tianya.cn/" target="_blank">天涯社区</a>
    <a href="http://www.mop.com/" target="_blank">猫扑</a>
    <a href="http://tuku.game.china.com/game/index.html" target="_blank">游戏图库中华网</a>
    <a href="http://cnodejs.org/blog/" target="_blank">CNode社区</a>
    <a href="http://www.douban.com/" target="_blank">豆瓣社区</a>
    <a href="http://www.myhack58.com/" target="_blank">黑吧安全网</a>
    <a href="http://www.chinabyte.com/" target="_blank">比特网</a>
    <a href="http://www.linuxdiyf.com/" target="_blank">红联Linux</a>
    <a href="http://www.linuxidc.com/" target="_blank">Linux公社简介</a>
    <a href="http://www.linuxsir.org/main/" target="_blank">linuxsir</a>
    <a href="http://bbs.chinaunix.net/" target="_blank">chinaunix</a>
    <a href="http://linux.chinaunix.net/" target="_blank">linux时代</a>
    <a href="http://wowubuntu.com/" target="_blank">wowubuntu</a>
    <a href="http://www.51cto.com/" target="_blank">51cto</a>
    <a href="http://www.akaedu.org/" target="_blank">亞嵌教育</a>
    <a href="http://www.ccidnet.com/" target="_blank">赛迪</a>
    <a href="http://www.sudu.cn/" target="_blank">华夏名网</a>
    <a href="http://www.huachu.com.cn/" target="_blank">华储</a>
    <a href="http://www.cnblogs.com/" target="_blank">博客园</a>
    <a href="http://blog.sina.com.cn/" target="_blank">新浪博客</a>
    <a href="http://blog.39.net/" target="_blank">39健康博客</a>
    <a href="http://blog.51cto.com/" target="_blank">51cto博客</a>
    <a href="http://blog.163.com/?frompersonalbloghome" target="_blank">网易博客</a>
    <a href="http://blog.csdn.net/" target="_blank">csdn博客</a>
    <a href="http://i.sohu.com/login/logon.do" target="_blank">我的搜狐</a>
    <a href="http://www.docin.com/" target="_blank">豆丁网</a>
    <a href="http://hi.baidu.com/index.htm" target="_blank">百度空间</a>
    <a href="http://www.jb51.net/" target="_blank">脚本之家</a>
    <a href="http://www.chinaz.com/" target="_blank">站长之家</a>
    <a href="http://www.mydrivers.com/" target="_blank">驱动之家</a>
    <a href="http://www.win8china.com/" target="_blank">win8之家</a>
    <a href="http://www.ithome.com/" target="_blank">it之家</a>
    <a href="http://www.chinaitlab.com/" target="_blank">中国it实验室</a>
    <a href="http://6yang.net/index.php" target="_blank">六杨创意</a>
    <a href="http://www.programfan.com/" target="_blank">编程爱好者</a>
    <a href="http://www.txwb.com/" target="_blank">天下网吧</a>
    <a href="http://book.51cto.com/" target="_blank">读书频道</a>
    <a href="http://www.pythonclub.org/start" target="_blank">Python 俱乐部</a>
    <a href="http://www.sqlite.com.cn/" target="_blank">sql中文站</a>
    <a href="http://ent.china.com/" target="_blank">中华网娱乐</a>
    <a href="http://www.yule.com.cn/" target="_blank">中国娱乐网</a>
    <a href="http://www.opda.net.cn/forum.php" target="_blank">opda论坛</a>
    <a href="http://www.xici.net/#home.asp" target="_blank">西伺胡同论坛</a>
    <a href="http://club.topsage.com/" target="_blank">大家论坛</a>
    <a href="http://bbs.pcbeta.com/" target="_blank">远景论坛</a>
    <a href="http://www.missyuan.com/" target="_blank">思缘论坛</a>
    <a href="http://bbs.yhcgo.com/" target="_blank">皇朝软件论坛</a>
    <a href="http://www.5xini.com/forum.php" target="_blank">悉尼论坛</a>
    <a href="http://bbs.dahe.cn/" target="_blank">大河论坛</a>
    <a href="http://bbs.51cto.com/" target="_blank">51cto论坛</a>
    <a href="http://bbs.csdn.net/" target="_blank">csdn论坛</a>
    <a href="http://free.21cn.com/" target="_blank">21社区</a>
    <a href="http://club.china.com/" target="_blank">中华网社区</a>
    <a href="http://www.im286.com/" target="_blank">落伍者</a>
    <a href="http://tieba.baidu.com/index.html" target="_blank">百度贴吧</a>
    <a href="http://hi.baidu.com/" target="_blank">百度空间</a>
    <a href="http://www.233.com/" target="_blank">233考试大</a>
    <a href="http://tech.163.com/" target="_blank">网易科技频道</a>
    <a href="http://www.clubzone.cn/" target="_blank">clubzone</a>
    <a href="http://www.aibang.com/beijing/" target="_blank">爱帮</a>
    <a href="http://www.yeshj.com/" target="_blank">庐江网</a>
    <a href="http://www.infoq.com/cn/" target="_blank">infoq</a>
    <a href="http://www.cyzone.cn/" target="_blank">创业邦</a>
    <a href="http://www.cisis.com.cn/" target="_blank">中国国际软件和信息服务交易会</a>
    <a href="http://dev.yesky.com/" target="_blank">天极网开放频道</a>
    <a href="http://www.yesky.com/" target="_blank">天极网</a>
    <a href="http://www.020job.com/" target="_blank">广州人才网</a>
    <a href="http://www.39.net/" target="_blank">39健康网</a>
    <a href="http://www.ekan123.com/" target="_blank">易看网址导航</a>
    <a href="http://www.zzdh.net/" target="_blank">站长导航</a>
    <a href="http://www.qunar.com/" target="_blank">去哪儿</a>
    <a href="http://www.elecfans.com/" target="_blank">电子发烧友</a>
    <a href="http://www.test3g.com/" target="_blank">3G网络论坛</a>
    <a href="http://www.txiu.com.cn/" target="_blank">统修网</a>
    <a href="http://www.shiliu.net/" target="_blank">石榴网</a>
    <a href="http://www.wodezao.com/" target="_blank">中国枣信息网</a>
    <a href="http://www.cn-fruits.cn/" target="_blank">水果行业供应商</a>
    <a href="http://www.seo2008.cn/" target="_blank">查查看</a>
    <a href="http://qingdao.fantong.com/" target="_blank">饭统网</a>
    <a href="http://www.chinaitlab.com/" target="_blank">中国it实验室</a>
    <a href="http://www.lanrentuku.com/" target="_blank">懒人图库</a>
    <a href="http://www.builder.com.cn/" target="_blank">开发者在线</a>
    <a href="http://www.ccidnet.com/" target="_blank">赛迪网</a>
    <a href="http://www.hexun.com/" target="_blank">和讯网</a>
    <a href="http://spn.com.cn/" target="_blank">睿智在线</a>
    <a href="http://www.qidian.com/Default.aspx" target="_blank">起点中文网</a>
    <a href="http://www.e7wan.com/" target="_blank">一起玩游戏平台</a>
    <a href="http://www.daqi.com/" target="_blank">大旗网</a>
    <a href="http://www.51.com/" target="_blank">51.com</a>
    <a href="http://www.i2ya.com/" target="_blank">二丫网</a>
    <a href="http://www.ddvip.com/" target="_blank">豆豆网</a>
    <a href="http://www.timedate.cn/" target="_blank">时间日期网</a>
    <a href="http://www.pengfu.com/" target="_blank">捧腹网</a>
    <a href="http://www.hualongxiang.com/" target="_blank">华龙巷</a>
    <a href="http://www.ufola.com/" target="_blank">ufola</a>
    <a href="http://bbs.hefei.cc/index.php" target="_blank">合肥论坛</a>
    <a href="http://www.update8.com/" target="_blank">中国技术教程网</a>
    <a href="http://tieba.baidu.com/f?kw=Arduino#" target="_blank">Arduino贴吧</a>
    <a href="http://www.aceona.com/" target="_blank">红桃</a>
    <a href="http://www.gzhong.cn/" target="_blank">工众网</a>
    <a href="http://www.tom.com/" target="_blank">Tom</a>
    <a href="http://bbs1.people.com.cn/" target="_blank">强国社区</a>
    <a href="http://forum.home.news.cn/index.jsp" target="_blank">新华网论坛</a>
    <a href="http://hangzhou.19lou.com/" target="_blank">19楼</a>
    <a href="http://bbs.cnhubei.com/portal.php" target="_blank">东湖社区</a>
    <a href="http://fj01.cn/" target="_blank">福建第一社区</a>
    <a href="http://bbs.rednet.cn/" target="_blank">红网</a>
    <a href="http://www.sosol.com.cn/" target="_blank">三好在线</a>
    <a href="http://www.cnbeta.com/" target="_blank">中文业界资讯站</a>
    <a href="http://www.ylmf.net/" target="_blank">雨林木风</a>
    <a href="http://www.2cto.com/" target="_blank">红黑联盟</a>
    <a href="http://www.51cto.com/" target="_blank">51cto</a>
    <a href="http://www.zol.com.cn/" target="_blank">中关村在线</a>
    <a href="http://www.xdowns.com/" target="_blank">绿色软件联盟</a>
    <a href="http://www.xiazaiba.com/" target="_blank">绿色下载吧</a>
    <a href="http://sky123.org/" target="_blank">it天空电脑技术社区</a>
    <a href="http://wenwen.soso.com/" target="_blank">问问</a>
    <a href="http://www.tom365.com/" target="_blank">tom365</a>
    <a href="http://www.caopeng.org/bbs/" target="_blank">曹碰编程论坛</a>
    <a href="http://wenku.baidu.com/" target="_blank">百度文库</a>
    <a href="http://www.pigai.org/" target="_blank">句酷批改网</a>
    <a href="http://www.byywee.com/" target="_blank">百维信息科技</a>
    <a href="http://exist.sourceforge.net/api/overview-tree.html" target="_blank">sourceforge</a>
    <a href="http://sourceforge.net/" target="_blank">sourceforge</a>
    <a href="http://www.doc88.com/" target="_blank">道客巴巴</a>
    <a href="http://www.php100.com/" target="_blank">php100</a>
    <a href="http://www.w3school.com.cn/" target="_blank">w3school</a>
    <a href="http://www.blogbus.com/" target="_blank">博客大巴</a>
    <a href="http://bbs.linuxpk.com/" target="_blank">全球最大开源门户</a>
    <a href="http://www.3g-edu.org/" target="_blank">华清远见</a>
    <a href="http://www.zhujiangroad.com/" target="_blank">珠江路在线</a>
    <a href="http://www.2345.com/zt/girl.htm" target="_blank">www.2345.com</a>
    <a href="http://qtdocs.sourceforge.net/index.php/%E9%A6%96%E9%A1%B5" target="_blank">qt中文</a>
    <a href="http://www.qtcn.org/bbs" target="_blank">qtcn</a>
    <a href="http://www.kuqin.com/" target="_blank">酷勤</a>
    <a href="http://www.rexinwen.com/" target="_blank">热新闻</a>
    <a href="http://www.cppleyuan.com/" target="_blank">C++奋斗乐园</a>
    <a href="http://www.qtkbase.com/" target="_blank">qt知识库</a>
    <a href="http://www.devdiv.com/" target="_blank">devdiv博客</a>
    <a href="http://www.c114.net/" target="_blank">中国通信网</a>
    <a href="http://www.xoyue.com/" target="_blank">笑月</a>
    <a href="http://www.0792ju.com/" target="_blank">九江</a>
    <a href="http://yqbaoliao.com/portal.php" target="_blank">yqbaoliao</a>
    <a href="http://www.21cn.com/" target="_blank">21cn</a>
    <a href="http://zh.wikipedia.org/zh/%E7%8E%8B%E7%AB%8B%E5%86%9B" target="_blank">wanglijun</a>
    <a href="http://www.i7086.com/gugeyingyonggoagentrangninziyoufangwenwangluotuwenjiaocheng" target="_blank">谷歌应用GoAgent让您自由访问网络</a>
    <a href="http://cn.wizbrother.com/blog/496" target="_blank">金山WPS强力驱动</a>
    <a href="http://cn.wizbrother.com/blog/496" target="_blank">金山WPS强力驱动</a>
    <a href="http://www.5a5b5c.com/" target="_blank">欢乐园交友网</a>
    <a href="http://cn.wizbrother.com/blog/496" target="_blank">金山WPS强力驱动</a>
    <a href="http://cn.wizbrother.com/blog/496" target="_blank">金山WPS强力驱动</a>
    <a href="http://cn.wizbrother.com/blog/496" target="_blank">金山WPS强力驱动</a>
    <a href="http://cn.wizbrother.com/blog/496" target="_blank">金山WPS强力驱动</a>
    <br/>
    <div>新闻来源网站</div>
    <a href="http://cs.fmprc.gov.cn/" target="_blank">中国领事服务网</a>
    <a href="http://www.news.cn/" target="_blank">新华网</a>
    <a href="http://www.huanqiu.com/" target="_blank">环球网</a>
   
</div>
<div>&nbsp;</div>
<div>
    <a href="/easysoft/login" >login</a>
    <a href="/maodan/login" >login</a>
    <a href="/upload" >upload</a>
    <a href="/test/test.html" >test</a>
</div>
<div>&nbsp;</div>
<div><img src="/getImage?path=test.1&name=calendar.png" /></div>
<div><img src="/getImage?path=test.1&name=calendar.png" /></div>
<div>
    <a href="http://club.topsage.com/thread-195918-1-1.html" target="_blank">Linux Bash Shell快速入门 在线教程</a>
    <a href="http://learn.akae.cn/media/ch31s01.html" target="_blank">Shell学习</a>
    <a href="http://woodpecker.org.cn/abyteofpython_cn/chinese/" target="_blank">简明 Python 教程</a>
    <a href="http://linux.chinaitlab.com/manual/Python_chinese/index.html" target="_blank">简明 Python 教程</a>
    <a href="http://www.xici.net/b1294509/board.asp" target="_blank">Arduino交流</a>
    <a href="http://www.ibm.com/developerworks/cn/" target="_blank">ibm</a>
    <a href="http://www.webspheretools.com/sites/webspheretools.nsf/docs/Jython%20script%20to%20list%20all%20AdminTask%20commands" target="_blank">AdminTask</a>
    <a href="http://publib.boulder.ibm.com/infocenter/wasinfo/v7r0/index.jsp?topic=%2Fcom.ibm.websphere.nd.multiplatform.doc%2Finfo%2Fae%2Fae%2Frxml_7libquerycluster.html&resultof=%22script%22" target="_blank">ibm_Help</a>
    <a href="http://cnodejs.org/cman/" target="_blank">Node.js Manual & Documentation</a>
    <a href="http://www.2cto.com/os/201112/114226.html" target="_blank">Linux Shell常用技巧(一)</a>
    <a href="http://www.kuqin.com/qtdocument/index.html" target="_blank">Qt参考文档</a>
    <a href="http://www.2cto.com/os/201112/114226.html" target="_blank">Linux Shell常用技巧(一)</a>
    <a href="http://www.2cto.com/os/201112/114226.html" target="_blank">Linux Shell常用技巧(一)</a>
    
</div>