* {
	margin:0px;
	padding:0px;
    font-family: Helvetica,Arial,sans-serif;
}
.ctlDate .ctlDateHead{
	 background-color: #FFFFFF;
	 border:1px solid #B5BCC7;
	 width:180px;
}
.ctlDate .ctlDateHeadLeft{
	float:left;
}
.ctlDate .ctlDateHeadRight {
	float:left;
    background-image: url("../images/commonFormArrows.png");
    background-position: -35px 53%;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    margin: 0;
    width: 16px; 
	height: 20px;
	border-left:1px solid #B5BCC7;
}
.ctlDate .ctlDateHead .input{
	border:none;
	 width:160px;
}
.ctlDate .ctlDateBody{
	width:180px;
	position:absolute;
	 background-color: #FFFFFF;
	 border:1px solid #B5BCC7;
	 z-index:999;
}
.ctlDate .divBodyTopTLeft{
	padding-left:5px;
	float:left;
	width:20px;
	cursor:pointer;
}
.ctlDate .divBodyTopTRight{
	padding-right:5px;
	float:right;
	width:20px;    
	text-align: right;
	cursor:pointer;
}
.ctlDate .divBodyTopTCenter{
	padding-left:30px;
	padding-right:30px;
	text-align: center;
}
.BPMSectionHeader.box.blue{
	color:#fff;
	border:1px solid #21486c;
	background-color:#1B76BC;
	background-image: -o-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -moz-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -webkit-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	behavior: url(/teamworks/script/ext-lib/PIE.htc);
	-pie-background: linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -ms-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
}
.BPMSectionHeader.box{
	opacity:.85;
	padding:6px 10px 4px 10px;
	color:#000;
	border:1px solid #999;
	background-color:#BDC0C2;
	background-image: -o-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: -moz-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: -webkit-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	behavior: url(/teamworks/script/ext-lib/PIE.htc);
	-pie-background: linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: -ms-linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
	background-image: linear-gradient(bottom, #E7E8EB 0%, #BDC0C2 100%);
}
.BPMSectionHeader.blue {
    color: #21486C;
}
.BPMSectionHeader {
    padding: 5px 1em;
}
h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 18px;
    font-weight: bold;
}
.BPMSectionBody {
    margin: 0 1em;
	width:699px;
}
.BPMTable {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.clearfix:after {  
	content: ".";  
	display: block;  
	height: 0;  
	clear: both;  
	visibility: hidden;  
}
.wid20{
	width:200px;
}

.dojoxGridRowTable{
	width:100%;
}
.dojoxGrid{
	border:1px solid #E5DAC8;
}
.BPMButton {
	height:30px;
	
	color:#f2f2f2;
	background-color: #1b75bc;
	
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align:center;
 	font-size:14px;
	font-weight:bold;

	background-repeat: repeat-x;
/* turn off margin because coach views have their own. */
/*	margin: 0px 3px 3px 3px; */
	padding-bottom: 3px;
	
	border:1px solid #21486c;
	border-top-color:#4178aa;
	border-left-color:#4178aa;
	border-bottom-color:#21486c;
	border-right-color:#21486c;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B76BC', endColorstr='#124B80');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B76BC', endColorstr='#124B80')";
	
	background-position: 0px 0px;
	background-image: linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -o-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -moz-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -webkit-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	background-image: -ms-linear-gradient(bottom, #124B80 0%, #1B76BC 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #124B80),
		color-stop(1, #1B76BC)
	);
}
.BPMButton:focus {
	border-bottom-color:#4178aa;
	border-right-color:#4178aa;
	border-top-color:#21486c;
	border-left-color:#21486c;
	background-image: linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -o-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -moz-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -webkit-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -ms-linear-gradient(bottom, #1B76BC 0%, #124B80 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1B76BC),
		color-stop(1, #124B80)
	);
}
.BPMButton:hover {
	color:#fff;
	
	border-top-color:#4178aa;
	border-left-color:#4178aa;
	border-bottom-color:#21486c;
	border-right-color:#21486c;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#429CE2', endColorstr='#124B80');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#429CE2', endColorstr='#124B80')";
	
	background-image: linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -o-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -moz-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -webkit-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -ms-linear-gradient(bottom, #124B80 0%, #429CE2 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #124B80),
		color-stop(1, #429CE2)
	);
	
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.5);
	box-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.dojoxGridRowOver .dojoxGridCell{
	background-color:#ABD6FF;
	background-image: -o-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: -moz-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: -webkit-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	-pie-background: linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: -ms-linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
	background-image: linear-gradient(bottom, #ABD6FF 0%, #D9ECFF 100%);
}
.dojofp{
	float:left;
	padding-left:3px;
}

.dojoxGridCell {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #E5DAC8 #E5DAC8 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    outline: medium none;
    padding: 3px 5px;
    word-wrap: break-word;
}

.dojoxGridMasterHeader .dojoxGridCell {
	background-color:#D1E0EA;
	background-image: -o-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: -moz-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: -webkit-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	-pie-background: linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: -ms-linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
	background-image: linear-gradient(bottom, #D1E0EA 0%, #ECF1F6 100%);
}
.hide{
	display:none;
}
.bpm-task-header-subject > h2 {
    display: inline;
    font-size: 2em;
    font-weight: bold;
}
.bpm-task-header-subject {
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 5px;
}
.bpm-task-coach-container{ 
    padding-top: 7px;
}
.bpm-task-coach-container-inner{
	padding:7px;
}


.bpm-social-task-row-status-img-div {
	position: absolute;
	padding-top: 9px;
	padding-left: 3px;
}

.dijitRtl .bpm-social-task-row-status-img-div {
	padding-left: 0px;
	padding-right: 3px;
}
.pagex-left{
	width:30%;
	float:left;
}
.pagex-left-inner{
}
.pagex-right{
	width:60%;
	float:right;    
	padding: 1.5em 6% 3em 0;
}
.bpm-social-overdue {
	
	background: 						#666 ;
	background: 						rgba(0,0,0,.4) ;
	background-image: url(../images/icons-18-white.png) ;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}
.ui-icon {
    height: 18px;
    width: 18px;
}
.pagex-top{
	height:46px;
	border-bottom:1px #ccc solid;
}
.pagex-bottom{
	height:46px;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.4) ;
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.4) ;
	box-shadow: 0px 1px 0 					rgba(255,255,255,.4) ;
}
.ui-bar-d {
	border: 1px solid 		#bbb ;
	background: 			#bbb ;
	color: 					#333 ;
	text-shadow: 0  1px  0  #eee ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd ), to( #bbb )); 
	background-image: -webkit-linear-gradient( #ddd , #bbb ); 
	background-image:    -moz-linear-gradient( #ddd , #bbb ); 
	background-image:     -ms-linear-gradient( #ddd , #bbb ); 
	background-image:      -o-linear-gradient( #ddd , #bbb ); 
	background-image:         linear-gradient( #ddd , #bbb );
}
.Logout{
	float:right;padding-right:2px;padding-top:2px;
}
.ui-content {
    background: url("../images/px-ccc.gif") repeat-y scroll 30% 0 transparent;
    padding: 0;
}
.ui-btn-up-c {
	border: 1px solid 		#ccc ;
	background: 			#eee ;
	font-weight: bold;
	color: 					#222 ;
	text-shadow: 0  1px  0  #ffffff ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #f1f1f1 )); 
	background-image: -webkit-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:    -moz-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:     -ms-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:      -o-linear-gradient( #ffffff , #f1f1f1 ); 
	background-image:         linear-gradient( #ffffff , #f1f1f1 );
}
.ui-btn-up-c:hover {
	border: 1px solid 		#bbb ;
	background: 			#dfdfdf ;
	font-weight: bold;
	color: 					#222 ;
	text-shadow: 0  1px  0  #ffffff ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 ), to( #e0e0e0 )); 
	background-image: -webkit-linear-gradient( #f9f9f9 , #e0e0e0 ); 
	background-image:    -moz-linear-gradient( #f6f6f6 , #e0e0e0 ); 
	background-image:     -ms-linear-gradient( #f6f6f6 , #e0e0e0 ); 
	background-image:      -o-linear-gradient( #f6f6f6 , #e0e0e0 ); 
	background-image:         linear-gradient( #f6f6f6 , #e0e0e0 );
}
.ui-li {
    border-width: 1px 0 0;
    display: block;
    margin: 0;
    overflow: visible;
    position: relative;
    text-align: left;
}
.ui-btn-up-a {
	border: 1px solid 		#111 ;
	background: 			#333 ;
	font-weight: bold;
	color: 					#fff ;
	text-shadow: 0  1px  1px  #000 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4f4f4f ), to( #2d2d2d )); 
	background-image: -webkit-linear-gradient( #4f4f4f , #2d2d2d ); 
	background-image:    -moz-linear-gradient( #4f4f4f , #2d2d2d ); 
	background-image:     -ms-linear-gradient( #4f4f4f , #2d2d2d ); 
	background-image:      -o-linear-gradient( #4f4f4f , #2d2d2d ); 
	background-image:         linear-gradient( #4f4f4f , #2d2d2d );
}
.ui-btn-up-a:hover {
	border: 1px solid 		#000 ;
	background: 			#444444 ;
	font-weight: bold;
	color: 					#fff ;
	text-shadow: 0  1px  1px  #000 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555555 ), to( #383838 )); 
	background-image: -webkit-linear-gradient( #555555 , #383838 ); 
	background-image:    -moz-linear-gradient( #555555 , #383838 ); 
	background-image:     -ms-linear-gradient( #555555 , #383838 ); 
	background-image:      -o-linear-gradient( #555555 , #383838 ); 
	background-image:         linear-gradient( #555555 , #383838 );
}

.ui-li:last-child { border-bottom-width: 1px; }

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}
.ui-li .ui-btn-inner a.ui-link-inherit { padding: .7em 15px .7em 15px; display: block; }

.ui-icon {
	background: 						#666 ;
	background: 						rgba(0,0,0,.4) ;
	background-image: url(../images/icons-18-white.png) ;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}
.ui-icon-arrow-r {
		background-position: -108px 50%;
}

.ui-btn-icon-right .ui-icon { position: absolute; top: 50%; margin-top: -9px; }

.ui-btn-text { position: relative; z-index: 1; }

.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	font-family: Helvetica, Arial, sans-serif ;
	text-decoration: none;
}
.ui-btn-icon-right .ui-icon { right: 10px; }