<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${c_url_client_easysoft_admin_css_min}" rel="stylesheet" type="text/css" />
<script src="${c_url_client_dojo_min}"></script>
<script src="${c_url_client_easysoft_admin_widget_min}"></script>
<script>
dojo.ready(function(){
	dojo.initPage();
	dojo.addWidget(dojo.createObject("${m_widgetName}",{m_form_action_path:"${m_form_action_path}"}),"${c_id_page_body}");
});
</script>
</head>
<body>
	<div id="${c_id_page_body}"></div>
</body>
</html>