a{
	TEXT-DECORATION:none;
}
.hide{
	display:none;
}

.table .tr{
	background: url("../img/bar_bg.png") repeat-x scroll 0 0 #fff;
    border: 1px solid #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 1px 5px 0;
}
.table .tr:hover,.table .tr.selected{
	background-color:#ffffe1;
}
.table .action_link_box{
	display:none;
}
.table .tr:hover .action_link_box{
	display:inline-block;
}
.table .tr.isExpand:hover .refresh{
	display:inline-block;
}
.table .tr:hover .refresh{
	display:none;
}
.table .expand{
	float:left;
	width:20px;
}
.table .article_title{
	float:left;
}
.table .edit,.delete,.add,.preview{
	float:right;
	width:50px;
}
.table .nextTr{
	padding-left:20px;
}
.table .action_link:hover{
	color:red;
	text-decoration:underline;
}
.table .text {
    color: #000000;
    text-decoration: none;
}
.table .number {
    width:23px;
	display:inline-block;
}
.table .article_date{
	float:right;
}
.table .article_size{
	float:right;
}
.Menu .tr{
	float:left;
	clear:none !important;
}
.Menu{
	height:28px;
}
