
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    margin: 0;
    overflow: auto;
    padding: 0;
}
body {
    font-size: 12px;
}
body, input, select, button, textarea {
    font-family: verdana;
}
h1, h2, h3, h4, h5, h6, select, input, textarea, button, table {
    font-size: 100%;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, form, p, dl, dt, dd, table, th, td, img, blockquote {
    border: 0 none;
    margin: 0;
    padding: 0;
}
input, button, textarea, img {
    line-height: normal;
    outline: 0 none;
}
abbr, acronym, address, cite, q, em, code, var, dfn, ins {
    border: 0 none;
    font-style: normal;
    text-decoration: none;
}
q:before, q:after {
    content: "";
}
ul, ol {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
select, input, button, button img, textarea, label, img {
    margin: 0;
    vertical-align: middle;
}
.ipt-r, .ipt-c {
    height: 16px;
    margin: 2px 3px 2px 0;
    overflow: hidden;
    padding: 0;
    width: 16px;
}
.g-stepbar .bdr, .g-stepbar td, .tip-rc-l, .tip-rc-r, .tip-arr span, .tip-rad span, .fn-glb {
    background-image: url("../img/global.png");
    background-repeat: no-repeat;
}
.ico-ask, .ico-ask-small, .ico-info, .ico-info-small, .ico-success-big, .ico-success-small, .ico-err-big, .ico-err-small, .ico-warning, .ico-warning-small, .ico-wrong, .ico-wrong-small, .btn-srch, .ico-arrowRight, .ico-arrowDown, .btn-cancel {
    background-image: url("../img/global.png") !important;
    background-repeat: no-repeat;
}
.fn-hide {
    display: none !important;
}
.fn-show {
    display: block !important;
}
.fn-fle {
    float: left;
}
.fn-fri {
    float: right;
}
.fn-hand {
    cursor: pointer;
}
.fn-clear, .g-menu-inner, .g-menu-inner ul {
}
.g-menu-inner:after, .g-menu-inner:before, .g-menu-inner ul:after, .g-menu-inner ul:before, .fn-clear:before, .fn-clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.C-clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.g-addrs .g-addr, .g-addrs .g-addr-edit input, .g-probar, .g-probar span, .g-cntalist, .gSys-body th, .gSys-body td, .tip-arr span, .tip-rad span, .tip-rad-auto, .fn-qmbox {
    -moz-box-sizing: border-box;
}
.g-addr, .g-addr .arr, .g-probar, span.ipt-t, .ico, .btngrp, .btn, .btn span, .btn .arr, .tip-arr span, .tip-arr, .tip-rad, .tip-rad span, .fn-ib {
    -moz-box-align: center;
    display: inline-block;
    vertical-align: middle;
}
.ico-loading {
    height: 16px;
    width: 16px;
}
.ico-loading-big {
    height: 39px;
    width: 39px;
}
.ico-ask, .ico-ask-big {
    background-position: -64px -304px;
    height: 32px;
    width: 32px;
}
.ico-ask-small {
    background-position: -97px -304px;
    height: 16px;
    width: 16px;
}
.ico-info {
    background-position: -64px -208px;
    height: 32px;
    width: 32px;
}
.ico-info-small {
    background-position: -97px -208px;
    height: 16px;
    width: 16px;
}
.ico-success-big {
    background-position: 0 -304px;
    height: 32px;
    width: 32px;
}
.ico-success-small {
    background-position: -33px -304px;
    height: 15px;
    width: 15px;
}
.ico-err-big {
    background-position: 0 -256px;
    height: 32px;
    width: 32px;
}
.ico-err-small {
    background-position: -33px -256px;
    height: 15px;
    width: 15px;
}
.ico-warning {
    background-position: 0 -208px;
    height: 32px;
    width: 32px;
}
.ico-warning-small {
    background-position: -33px -208px;
    height: 15px;
    width: 15px;
}
.ico-wrong {
    background-position: -64px -256px;
    height: 32px;
    width: 32px;
}
.ico-wrong-small {
    background-position: -97px -256px;
    height: 15px;
    width: 15px;
}
.ico-opened {
    background-position: -34px -286px;
    height: 14px;
    width: 14px;
}
.ico-closed {
    background-position: 2px -286px;
    height: 14px;
    width: 14px;
}
.ico-arrowRight {
    background-position: 0 -352px;
    height: 15px;
    width: 15px;
}
.ico-arrowDown {
    background-position: -32px -352px;
    height: 12px;
    width: 11px;
}
.fn-noime {
    ime-mode: disabled;
}
.g-cntalist .normal li, .fn-bwd {
    word-wrap: break-word;
}
.fn-nobr {
    white-space: nowrap;
}
.txt-b {
    font-weight: bold !important;
}
.txt-i {
    font-style: italic !important;
}
.txt-u {
    text-decoration: underline !important;
}
.txt-del {
    text-decoration: line-through;
}
.txt-12 {
    font-size: 12px;
}
.txt-14 {
    font-size: 14px;
}
.txt-16 {
    font-size: 16px;
}
.txt-20 {
    font-size: 20px;
}
.txt-tips {
    color: #565656;
}
.btn-dft-disabd span, .btn-dft-gl-disabd span, .btn-dft-gc-disabd span, .btn-dft-gr-disabd span, .g-cntalist .srch em, .txt-disabd, .txt-del, .txt-info {
    color: #7D7D7D;
}
.g-addr-err, .g-cntalist .srch b, .txt-impt, .txt-err {
    color: #D90000;
}
.txt-alert {
    color: #E6A800;
}
.txt-succ {
    color: #16960E;
}
.txt-back {
    font-family: simsun,serif;
    font-weight: bold;
}
.txt-hasico {
    padding-left: 16px;
    position: relative;
}
.txt-hasico .ico {
    left: 0;
    position: absolute;
    top: 0;
}
.txt-disabd {
    cursor: default;
    text-decoration: none;
}
.ln-thin, .ln-thick, .ln-dotted {
    font-size: 0;
    line-height: 0;
}
.ln-thick {
    border-top: 2px solid;
}
.ln-thin {
    border-top: 1px solid;
}
.ln-dotted {
    border-top: 1px dotted #CCCCCC;
}
.ico {
    overflow: hidden;
}
.btn, .btn span {
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.btngrp {
    margin-right: 8px;
    padding-right: 1px;
}
.btngrp .btn {
    margin-right: -1px;
}
.btn-dft {
    border: 0 none;
    color: #000000;
    height: 24px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
}
.btn-dft span {
    line-height: 15px;
    margin-right: 3px;
    padding: 4px 9px 5px 12px;
}
.btn-dft {
    background-position: 100% -24px;
}
.btn-dft-gl, .btn-dft-gl span, .btn-dft span {
    background-position: -288px 0;
}
.btn-dft-hover-arr, .btn-dft:hover, .btn-dft-hover {
    background-position: 100% -72px;
}
.btn-dft-gl-hover-arr, .btn-dft-gl:hover, .btn-dft-gl-hover, .btn-dft-gl-hover-txt span, .btn-dft-hover-txt span, .btn-dft-gl:hover span, .btn-dft-gr:hover span, .btn-dft-gl-hover span, .btn-dft-gr-hover span, .btn-dft:hover span, .btn-dft-hover span {
    background-position: -288px -48px;
}
.btn-dft-active-arr, .btn-dft-active {
    background-position: 100% -120px !important;
}
.btn-dft-gl-active-arr, .btn-dft-gl-active, .btn-dft-gl-active-txt span, .btn-dft-active-txt span, .btn-dft-gl-active span, .btn-dft-gr-active span, .btn-dft-active span {
    background-position: -288px -96px !important;
}
.btn-dft-gl-disabd, .btn-dft-gc-disabd, .btn-dft-gr-disabd, .btn-dft-gl-disabd span, .btn-dft-gc-disabd span, .btn-dft-gr-disabd span, .btn-dft-disabd, .btn-dft-disabd span {
    cursor: default;
}
.btn-dft-gl-disabd, .btn-dft-disabd {
    background-position: 100% -312px !important;
}
.btn-dft-gl-disabd span, .btn-dft-disabd span {
    background-position: -288px -288px !important;
}
.btn-dft-gl-hover-txt, .btn-dft-gl-hover-arr, .btn-dft-gc-hover-txt, .btn-dft-gc-hover-arr, .btn-dft-gr-hover-txt, .btn-dft-gr-hover-arr, .btn-dft-gl-active-txt, .btn-dft-gl-active-arr, .btn-dft-gc-active-txt, .btn-dft-gc-active-arr, .btn-dft-gr-active-txt, .btn-dft-gr-active-arr, .btn-dft-gl:hover, .btn-dft-gc:hover, .btn-dft-gr:hover, .btn-dft-gl-hover, .btn-dft-gc-hover, .btn-dft-gr-hover, .btn-dft-gl-active, .btn-dft-gc-active, .btn-dft-gr-active {
    position: relative;
}
.btn-dft-impt {
    background-position: 100% -168px;
}
.btn-dft-impt span {
    background-position: -288px -144px;
}
.btn-dft-impt:hover, .btn-dft-impt-hover {
    background-position: 100% -216px;
}
.btn-dft-impt:hover span, .btn-dft-impt-hover span {
    background-position: -288px -192px;
}
.btn-dft-impt-active {
    background-position: 100% -264px !important;
}
.btn-dft-impt-active span {
    background-position: -288px -240px !important;
}
.btn-dft-icon {
    position: relative;
}
.btn-dft-icon span {
    padding-left: 30px;
}
.btn-dft-icon .ico {
    left: 8px;
    position: absolute;
    top: 4px;
}
.btn-dft-gl {
    border-right: 1px solid;
}
.btn-dft-gl span {
    margin-right: 0;
}
.btn-dft-gc {
    background-position: -291px 0;
    border-style: solid;
    border-width: 0 1px;
}
.btn-dft-gc span {
    background-position: -291px 0;
    margin: 0;
}
.btn-dft-gc-hover-arr, .btn-dft-gc-hover-txt span, .btn-dft-gc:hover, .btn-dft-gc:hover span, .btn-dft-gc-hover, .btn-dft-gc-hover span {
    background-position: -291px -48px;
}
.btn-dft-gc-active-arr, .btn-dft-gc-active-txt span, .btn-dft-gc-active, .btn-dft-gc-active span {
    background-position: -291px -96px;
}
.btn-dft-gc-disabd, .btn-dft-gc-disabd span {
    background-position: -291px -288px !important;
}
.btn-dft-gr {
    background-position: 100% -24px;
    border-left: 1px solid;
}
.btn-dft-gr-hover-arr, .btn-dft-gr:hover, .btn-dft-gr-hover {
    background-position: 100% -72px;
}
.btn-dft-gr-active-arr, .btn-dft-gr-active {
    background-position: 100% -120px;
}
.btn-dft-gr-disabd {
    background-position: 100% -312px !important;
}
.btn-dft-gr span {
    background-position: -291px 0;
    margin-left: 0;
}
.btn-dft-gr-hover-txt span, .btn-dft-gr:hover span, .btn-dft-gr-hover span {
    background-position: -291px -48px;
}
.btn-dft-gr-active-txt span, .btn-dft-gr-active span {
    background-position: -291px -96px;
}
.btn-dft-gr-disabd span {
    background-position: -291px -288px !important;
}
.btn-dft-pd span {
    padding-right: 21px;
}
.btn-dft-pd .arr {
    background-position: -145px 5px;
    height: 24px;
    margin: 0 0 0 -22px;
    padding: 0;
    width: 22px;
}
.btn-dft-sprt span {
    margin-right: 21px;
}
.btn-dft-sprt .arr {
    background-position: -144px 5px;
    height: 24px;
    margin: 0 0 0 -22px;
    padding: 0;
    width: 22px;
}
.btn-sml {
    background-position: 100% -454px;
    color: #3D3D3D;
    height: 22px;
    overflow: hidden;
    text-align: center;
}
.btn-sml span {
    background-position: -288px -432px;
    line-height: 15px;
    margin-right: 3px;
    padding: 3px 6px 4px 10px;
    text-align: center;
}
.btn-sml-pd span {
    padding-right: 24px;
}
.btn-sml-pd .arr {
    background-position: -180px 4px;
    height: 22px;
    margin: 0 0 0 -20px;
    padding: 0;
    width: 20px;
}
.btn-srch {
    background-position: 2px -176px;
    height: 20px;
    width: 20px;
}
.btn-srch:hover, .btn-srch-hover {
    background-position: -30px -176px;
}
.btn-cancel {
    background-position: -58px -176px;
    height: 20px;
    width: 20px;
}
.btn-cancel:hover, .btn-cancel-hover {
    background-position: -90px -176px;
}
.btn-big {
    background-position: -504px 0;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    width: 75px;
}
.btn-big:hover, .btn-big-hover {
    background-position: -504px -72px;
}
.btn-big:active, .btn-big-active {
    background-position: -504px -144px;
}
.btn-add {
    background-position: -1548px -360px;
    height: 12px;
    width: 12px;
}
.btn-add:hover, .btn-add-hover {
    background-position: -1584px -360px;
}
.btn-tree {
    height: 11px;
    width: 11px;
}
.g-cntalist .fold .btn-tree, .btn-tree-fold {
    background-position: 0 -288px;
}
.g-cntalist .unfold .btn-tree, .btn-tree-unfold {
    background-position: -36px -288px;
}
.btn-close {
    background-position: -1616px -105px;
    height: 14px;
    width: 14px;
}
.ipt-t-dft {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    cursor: text;
}
.ipt-t-dft input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 18px;
    padding-left: 4px;
    padding-top: 1px;
}
input.ipt-t-dft {
    height: 22px;
    line-height: 17px;
    overflow: hidden;
    padding: 2px 4px;
    width: 160px;
}
.ipt-t-dft-hover, .ipt-t-dft-active {
    background: none repeat scroll 0 0 #FFFFE1;
}
.ipt-t-dft-err {
    background: none repeat scroll 0 0 #FFEAEA;
    border-color: #D90000 !important;
}
.ipt-t-dft-disabd {
    background: none repeat scroll 0 0 #EBEBE4 !important;
    border-color: #CCCCCC !important;
}
.g-toolbar {
    background-position: 0 -110px;
    clear: both;
    height: 34px;
    padding: 0 10px;
    white-space: nowrap;
}
.g-toolbar a, .g-toolbar .btn, .g-toolbar .btngrp, .g-toolbar select {
    display: inline;
    float: left;
    vertical-align: baseline;
}
.g-toolbar .btn {
    margin-top: 5px;
}
.g-toolbar select {
    margin-top: 7px;
}
.g-toolbar a {
    margin-top: 10px;
}
.g-toolbar .btngrp-ext {
    float: right;
    margin-right: 0;
}
.g-toolbar .btngrp a, .g-toolbar .btngrp select {
    margin-left: 4px;
    margin-right: 4px;
}
.g-toolbar .btngrp-impt {
    margin-right: 12px;
}
.g-toolbar .btngrp .btn {
    margin-left: 0;
    margin-right: -1px;
}
.g-toolbar-bottom, .g-toolbar-top {
    height: 35px;
}
.g-toolbar-bottom {
    background-position: 0 -109px;
}
.g-title-1 {
    height: 25px;
    padding-top: 3px;
    text-indent: 3px;
}
.g-title-1 h2 {
    display: inline;
    font-size: 14px;
    margin-right: 5px;
}
.g-title-1 .sprt {
    font-family: simsun,serif;
    margin: 0 5px;
}
.g-title-1 .ext {
    clear: both;
}
.g-title-2 {
    line-height: 30px;
    text-indent: 3px;
}
.g-title-2 h3 {
    display: inline;
    font-size: 12px;
    margin-right: 10px;
}
.g-title-2 .txt-info {
    margin-right: 10px;
}
.g-table-comm {
    table-layout: fixed;
    width: 100%;
}
.g-table-comm thead tr {
    background-position: 0 -13px;
}
.g-table-comm thead tr th {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #686868;
    font-weight: normal;
    height: 24px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 6px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.g-table-comm thead tr th.en {
    line-height: 20px;
}
.g-table-comm tbody td {
    border-bottom: 1px solid #DCDCDC;
    line-height: 160%;
    overflow: hidden;
    padding: 5px 6px 4px;
    text-overflow: ellipsis;
}
.g-table-comm .wd1 {
    border-left: medium none;
}
.g-table-comm .ckb {
    padding: 0;
    text-align: center;
    width: 28px;
}
.g-table-comm thead tr th a {
    color: #686868;
}
.g-table-optcomm {
    margin: 10px auto;
    table-layout: fixed;
    width: 100%;
}
.g-table-optcomm th {
    font-weight: normal;
    line-height: 21px;
    padding: 6px;
    text-align: right;
    vertical-align: top;
    width: 168px;
}
.g-table-optcomm td {
    line-height: 22px;
    overflow: hidden;
    padding: 6px;
    text-align: left;
    vertical-align: top;
    width: auto;
    word-wrap: break-word;
}
.g-table-optcomm .underline th, .g-table-optcomm .underline td {
    border-bottom: 1px dotted #CCCCCC;
    padding-bottom: 15px;
    padding-top: 15px;
}
.g-table-optcomm td input.ipt-t-dft, .g-table-optcomm td textarea {
    margin-top: -2px;
}
.underline-tr th, .underline-tr td {
    border-bottom: 1px dotted #CCCCCC;
}
.g-table-simple {
    color: #000000;
    table-layout: fixed;
    width: 100%;
}
.g-table-simple, .g-table-simple td, .g-table-simple th {
    border: 1px solid #C8C8C8;
}
.g-table-simple td, .g-table-simple th {
    overflow: hidden;
    padding: 5px;
    text-align: left;
    text-overflow: ellipsis;
}
.g-table-simple thead {
    background-color: #F9F9F9;
    color: #7A7A7A;
}
.g-table-simple tbody {
    background-color: #FFFFFF;
}
.g-select-box {
    border-style: solid;
    border-width: 1px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    width: 350px;
}
.g-select-box ul li {
    border-bottom: 1px solid #F1F1F1;
    cursor: pointer;
    line-height: 20px;
    overflow: hidden;
    padding: 3px;
    text-overflow: ellipsis;
    width: 100%;
}
.g-select-box ul li label {
    cursor: pointer;
}
.g-tabs li {
    cursor: pointer;
    float: left;
    text-align: center;
}
.g-tabs li span {
    display: block;
}
.g-tabs li.on {
    color: #000000;
    font-weight: bold;
}
.g-probar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 10px;
    overflow: hidden;
    position: relative;
    width: 55px;
}
.g-probar span {
    background-position: 0 -149px;
    border: 1px solid #FFFFFF;
    font-size: 0;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
}
.g-probar-alert span {
    background-position: 0 -173px;
}
.g-cntalist {
    background-color: #FFFFFF;
    height: 100%;
    line-height: 21px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    position: relative;
}
.g-cntalist .ico-user {
    display: inline;
    float: left;
    margin: 2px 3px 0 0;
    vertical-align: baseline;
}
.g-cntalist .ico-phn {
    bottom: 3px;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.g-cntalist a:hover .ico-user-me {
    background-position: -240px -192px;
}
.g-cntalist .special li {
    position: relative;
}
.g-cntalist .special .ico-user {
    left: -2px;
    position: absolute;
}
.g-cntalist .special .other {
    border-bottom: 1px dotted #CCCCCC;
}
.g-cntalist .special .other .btn-close {
    position: absolute;
    right: 0;
    top: 3px;
    vertical-align: baseline;
}
.g-cntalist .special .other a:hover .btn-close {
    background-position: -477px -189px;
}
.g-cntalist .normal {
}
.g-cntalist .normal li {
    position: relative;
}
.g-cntalist .normal .btn-tree {
    left: 0;
    position: absolute;
    top: 5px;
}
.g-cntalist .normal .grpname {
    color: #000000;
    margin-right: 3px;
    padding-left: 16px;
    text-decoration: none;
}
.g-cntalist .normal .grpmbr li {
}
.g-cntalist .normal .grpmbr a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #6A6A6A;
    display: block;
    overflow: hidden;
    padding-left: 16px;
    text-decoration: none;
}
.g-cntalist .normal .grpmbr a.slcted, .g-cntalist .normal .grpmbr a.slcted:hover {
    color: #CCCCCC !important;
    cursor: default;
}
.g-cntalist .normal .grpmbr a.slcted:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.g-cntalist .normal .special {
}
.g-cntalist .normal .fold .grpmbr {
    display: none;
}
.g-cntalist .normal .unfold .grpmbr {
    display: block;
}
.g-cntalist .srch li {
    border-bottom: 1px solid;
    line-height: 18px;
}
.g-cntalist .srch strong, .g-cntalist .srch em {
    cursor: pointer;
    display: block;
    height: 18px;
    overflow: hidden;
    width: 140px;
    word-wrap: break-word;
}
.g-cntalist .srch .result a {
    color: #000000;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.g-cntalist .srch .noresult {
    border: 0 none;
    padding: 10px 0;
}
.g-cntalist .srch .result a.slcted, .g-cntalist .srch .result a.slcted:hover, .g-cntalist .srch .result a.slcted b, .g-cntalist .srch .result a.slcted strong, .g-cntalist .srch .result a.slcted em {
    color: #CCCCCC !important;
    cursor: default;
}
.g-cntalist .srch .result a.slcted:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.g-account-tips {
    left: 268px;
    position: absolute;
    top: 314px;
    width: 200px;
    z-index: 150;
}
.g-AT-inner {
    background-color: #FFFFFF;
    border: 1px solid;
    left: -2px;
    position: relative;
    top: -2px;
}
.g-AT-inner .g-menu {
    left: 198px;
    top: -1px;
    width: 100px;
}
.g-AT-inner .hd {
    background-position: 0 -303px;
    border-bottom: 1px solid;
    height: 21px;
    width: 100%;
}
.g-AT-inner .hd li {
    border-left: 1px solid;
    float: left;
    height: 21px;
    line-height: 22px;
    margin-left: -1px;
    overflow: hidden;
    text-align: center;
    width: 66px;
}
.g-AT-inner .hd li a {
    text-decoration: none;
}
.g-AT-inner .hd li.more {
    position: relative;
}
.g-AT-inner .hd li.more a {
    margin-left: -10px;
}
.g-AT-inner .hd li.more b {
    background-position: -216px 0;
    height: 8px;
    left: 45px;
    position: absolute;
    top: 7px;
    width: 4px;
}
.g-AT-inner .ct {
    line-height: 18px;
    overflow: hidden;
    padding: 8px 0 8px 10px;
    width: 180px;
    word-wrap: break-word;
}
.g-AT-inner .ct strong {
    color: #1F8919;
    font-weight: bold;
}
.gSys-msg .mask {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
}
.gSys-msg-win {
    height: auto;
    left: auto;
    position: absolute;
    top: 20%;
    width: 460px;
    z-index: 901;
}
.gSys-msg-win .hd {
    background-position: 0 -45px;
    clear: both;
    cursor: move;
    height: 27px;
    line-height: 27px;
}
.gSys-msg-win .hd h4 {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
}
.gSys-msg-win .hd .sub {
    color: #FFFFFF;
    float: left;
}
.gSys-msg-win .hd span.fn-bg {
    display: block;
    height: 27px;
    width: 2px;
}
.gSys-msg-win .hd .rc-l {
    background-position: 0 0;
    float: left;
}
.gSys-msg-win .hd .rc-r {
    background-position: -2px 0;
    float: right;
}
.gSys-msg-win .hd .Aclose {
    background-position: -36px 0;
    display: block;
    float: right;
    height: 20px;
    margin-right: 2px;
    margin-top: 3px;
    outline: medium none;
    overflow: hidden;
    text-indent: 300px;
    width: 20px;
}
.gSys-msg-win .hd .Aclose:hover {
    background-position: -72px 0;
}
.gSys-msg-win .hd .Aclose:active {
    background-position: -108px 0;
}
.gSys-inner-comm {
    position: relative;
    text-align: left;
}
.gSys-inner-comm .ct {
    font-size: 14px;
    line-height: 160%;
    padding: 25px 15px 30px 75px;
    word-wrap: break-word;
}
.gSys-inner-comm .ico-loading-big, .gSys-inner-comm .ico-success-big, .gSys-inner-comm .ico-ask, .gSys-inner-comm .ico-info, .gSys-inner-comm .ico-err-big, .gSys-inner-comm .ico-warning, .gSys-inner-comm .ico-wrong {
    left: 25px;
    position: absolute;
    top: 20px;
}
.gSys-inner-comm .info {
    margin-top: 5px;
}
.gSys-inner-comm .info li {
    padding: 3px 0;
}
.gSys-inner-comm p {
    margin-bottom: 5px;
}
.gSys-inner-contact {
    overflow: hidden;
    padding: 20px;
    position: relative;
}
.gSys-inner-contact .ico-arrowRight {
    left: 223px;
    position: absolute;
    top: 180px;
}
.gSys-inner-contact .box-cnta {
    float: left;
    width: 190px;
}
.gSys-inner-contact .box-to {
    float: right;
    width: 190px;
}
.gSys-inner-contact .box-cnta .g-cntalist {
    height: 270px;
    overflow: auto;
}
.gSys-inner-contact .boxtit {
    margin-bottom: 5px;
}
.gSys-inner-contact .boxtit strong {
    font-size: 14px;
}
.gSys-inner-contact .boxcont {
    border-style: solid;
    border-width: 1px;
}
.gSys-inner-contact .bar {
    padding: 5px;
}
.gSys-inner-contact .ipt-t input {
    width: 152px;
}
.gSys-inner-contact .box-to .boxcont {
    height: 304px;
    overflow: auto;
}
.gSys-inner-contact .box-to li {
    border-bottom-width: 1px;
    border-style: solid;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}
.gSys-inner-contact .box-to .name {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
.gSys-inner-contact .box-to .oprt {
    float: right;
}
.gSys-msg-win .cont {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0 1px;
    clear: both;
    overflow: hidden;
}
.gSys-msg-win .ft {
    border-style: solid;
    border-width: 1px;
    clear: both;
    height: 42px;
    padding: 0 8px;
}
.gSys-msg-win .ft .sup {
    color: #565656;
    float: left;
    line-height: 40px;
    white-space: nowrap;
}
.gSys-msg-win .ft .opt {
    float: right;
    margin-top: 9px;
    white-space: nowrap;
}
.gSys-msg-win .ft .opt .btn {
    margin-left: 8px;
}
.gSys-msg-win .ft .opt .btn span {
    padding-left: 18px;
    padding-right: 14px;
}
.g-tab, .gSys-tab {
    border-bottom: 1px solid;
    height: 36px;
    padding: 0 10px;
}
.g-tab ul, .gSys-tab ul {
    float: left;
}
.g-tab li, .gSys-tab li {
    background-position: -288px -360px;
    bottom: -1px;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 10px -1px 0 0;
    padding: 0 16px;
    position: relative;
}
.g-tab li.on, .gSys-tab li.on {
    cursor: default;
    font-weight: bold;
    letter-spacing: -1px;
}
.g-tab li.on span, .gSys-tab li.on span {
    color: #000000;
}
.g-tab .rc-r, .gSys-tab .rc-r {
    background-position: -493px -360px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
}
.g-tab .on .rc-r, .gSys-tab .on .rc-r {
    background-position: -493px -396px;
}
.gSys-product-text p, .gSys-product, .gSys-product b, .gSys-product i, .gSys-product .Aclose {
    background-image: url("../img/product.png");
    background-repeat: no-repeat;
}
.gSys-product {
    background-position: -13px -10px;
    height: 96px;
    position: absolute;
    width: 240px;
    z-index: 800;
}
.gSys-product i {
    display: block;
    overflow: hidden;
    position: absolute;
}
.gSys-product i, .gSys-product i.u, .gSys-product i.d {
    background-position: -14px -108px;
    height: 10px;
    left: 30px;
    top: 2px;
    width: 15px;
}
.gSys-product i.d {
    background-position: -14px -118px;
    bottom: 0;
    height: 12px;
    top: auto;
    width: 18px;
}
.gSys-product i.vertical, .gSys-product i.l, .gSys-product i.r {
    background-position: -39px -108px;
    height: 19px;
    left: -8px;
    overflow: hidden;
    top: 35px;
    width: 11px;
}
.gSys-product i.r {
    background-position: -50px -108px;
    height: 20px;
    left: auto;
    right: -8px;
    width: 13px;
}
.gSys-product i.n {
    visibility: hidden;
}
.gSys-product b {
    display: block;
    height: 36px;
    left: 7px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 36px;
}
.gSys-product b.ico-new-dft {
    background-position: -34px -142px;
}
.gSys-product b.ico-new-bbx {
    background-position: -106px -198px;
}
.gSys-product b.ico-new-music {
    background-position: -106px -142px;
}
.gSys-product b.ico-new-webIm {
    background-position: -178px -142px;
}
.gSys-product b.ico-new-sms {
    background-position: -250px -142px;
}
.gSys-product b.ico-new-phn {
    background-position: -34px -198px;
}
.gSys-product .Aclose {
    background-position: -286px -33px;
    display: block;
    height: 14px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    text-indent: 300px;
    top: 18px;
    white-space: nowrap;
    width: 14px;
    z-index: 2;
}
.gSys-product .Aclose:hover {
    background-position: -286px -69px;
}
.gSys-product dl {
    left: 50px;
    position: absolute;
    top: 18px;
    z-index: 1;
}
.gSys-product dl dt {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 160%;
}
.gSys-product dl dd {
    color: #666666;
    font-size: 12px;
    line-height: 140%;
    width: 179px;
    word-wrap: break-word;
}
.gSys-product-text {
    background: none repeat scroll 0 0 transparent;
    height: 56px;
    width: auto;
}
.gSys-product-text p {
    background-position: 0 -432px;
    background-repeat: repeat-x;
    height: 36px;
    line-height: 33px;
    margin-top: 10px;
    padding: 0 20px 0 5px;
    white-space: nowrap;
}
.gSys-product-text .Aclose {
    right: 2px;
}
.gSys-product-text .l {
    background-position: 0 -469px;
    height: 36px;
    left: -5px;
    top: 10px;
    width: 5px;
}
.gSys-product-text .r {
    background-position: -5px -469px;
    height: 36px;
    left: auto;
    right: -8px;
    top: 10px;
    width: 8px;
}
.tip-normal {
    background: none repeat scroll 0 0 #F6F9FC;
    border: 1px solid #9CB8CC;
    line-height: 20px;
    padding: 6px 10px;
}
.tip-top {
    background: none repeat scroll 0 0 #E6A800;
    color: #FFFFFF;
    display: block;
    height: 17px;
    line-height: 17px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.tip-top .tip-rc-l, .tip-top .tip-rc-r {
    height: 17px;
    position: absolute;
    top: 0;
    width: 2px;
}
.tip-top .tip-rc-l {
    background-position: -52px 0;
    left: -2px;
}
.tip-top .tip-rc-r {
    background-position: -54px 0;
    right: -2px;
}
.tip-top-succ {
    background: none repeat scroll 0 0 #16960E;
}
.tip-top-succ .tip-rc-l {
    background-position: -36px 0;
}
.tip-top-succ .tip-rc-r {
    background-position: -38px 0;
}
.tip-top-err {
    background: none repeat scroll 0 0 #D90000;
}
.tip-top-err .tip-rc-l {
    background-position: -68px 0;
}
.tip-top-err .tip-rc-r {
    background-position: -70px 0;
}
.tip-arr {
    background-image: none;
    position: relative;
    vertical-align: middle;
}
.tip-arr span {
    height: 22px;
}
.tip-arr .l-arr {
    float: left;
    width: 7px;
}
.tip-arr .r-radius {
    float: right;
    width: 3px;
}
.tip-arr .c {
    background-color: #FEEAEA;
    background-image: none;
    border-style: solid;
    border-width: 1px 0;
    line-height: 19px;
    padding: 0 5px;
    vertical-align: baseline;
}
.tip-arr-error .l-arr {
}
.tip-arr-error .r-radius {
    background-position: -7px 0;
}
.tip-arr-error .c {
    background-color: #FEEAEA;
    border-color: #DFADAE;
    color: #A40000;
}
.tip-arr-succ .l-arr {
    background-position: -12px 0;
}
.tip-arr-succ .r-radius {
    background-position: -19px 0;
}
.tip-arr-succ .c {
    background-color: #F1FFE3;
    border-color: #A8BD93;
    color: #007130;
}
.tip-arr-atten .l-arr {
    background-position: -23px 0;
}
.tip-arr-atten .r-radius {
    background-position: -30px 0;
}
.tip-arr-atten .c {
    background-color: #FFFFE1;
    border-color: #C6C5A8;
    color: #000000;
}
.tip-rad {
    background-image: none;
    position: relative;
    vertical-align: middle;
}
.tip-rad span {
    height: 22px;
}
.tip-rad .l-radius {
    float: left;
    width: 2px;
}
.tip-rad .r-radius {
    float: right;
    width: 3px;
}
.tip-rad .c {
    background-color: #FEEAEA;
    background-image: none;
    border-style: solid;
    border-width: 1px 0;
    line-height: 19px;
    padding: 0 5px;
    vertical-align: baseline;
}
.tip-rad-auto, .tip-rad-auto .c {
    width: 100%;
}
.tip-rad-auto .l-radius {
    left: 0;
    position: absolute;
}
.tip-rad-auto .r-radius {
    position: absolute;
    right: 0;
}
.tip-rad-auto {
    padding: 0 2px;
}
.tip-rad-error .l-radius {
    background-position: -10px 0;
}
.tip-rad-error .r-radius {
    background-position: -7px 0;
}
.tip-rad-error .c {
    background-color: #FEEAEA;
    border-color: #DFADAE;
    color: #A40000;
}
.tip-rad-succ .l-radius {
    background-position: -21px 0;
}
.tip-rad-succ .r-radius {
    background-position: -19px 0;
}
.tip-rad-succ .c {
    background-color: #F1FFE3;
    border-color: #A8BD93;
    color: #007130;
}
.tip-rad-atten .l-radius {
    background-position: -33px 0;
}
.tip-rad-atten .r-radius {
}
.tip-rad-atten .c {
    background-color: #FFFFE1;
    border-color: #C6C5A8;
    color: #000000;
}
.g-srch .btn-sml {
    letter-spacing: 2px;
    margin-left: -1px;
}
.g-menu {
    border-style: solid;
    border-width: 0 2px 2px 0;
    position: absolute;
    white-space: nowrap;
    width: 180px;
    z-index: 150;
}
.g-menu-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
}
.g-menu-inner .tit {
    background-color: #F9F9F9;
    background-position: 0 -252px;
    border-bottom: 1px solid #CBCBCB;
    color: #616161;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 7px;
}
.g-menu-scroll {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.g-menu li {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
}
.g-menu li .ext {
    float: right;
    margin-right: 10px;
}
.g-menu li a {
    color: #000000;
    display: block;
    line-height: 21px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
}
.g-menu li a, .g-menu-hasico .g-menu li a {
    text-indent: 10px;
}
.g-menu .ln-thin {
    margin: 3px 0 3px 5%;
    position: static;
    width: 90%;
}
.g-menu .arr {
    background-position: -1649px -103px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 18px;
}
.g-menu-auto .hover, .g-menu li a:hover {
    color: #FFFFFF;
}
.g-menu li a:hover .arr, .g-menu li a.hover .arr {
    background-position: -1649px -139px;
}
.g-menu-hasico .g-menu-hasico li a, .g-menu-hasico li a {
    text-indent: 22px;
}
.g-menu-hasico .ico {
    left: 2px;
    position: absolute;
    top: 3px;
    vertical-align: baseline;
}
.g-menu .g-menu {
    left: 100%;
}
.g-menu-bottom {
    border-bottom: 0 none;
}
.g-menu-bottom .g-menu {
    border-bottom: 2px none;
    bottom: 0;
    top: auto;
}
.g-menu-nobdr, .g-menu-nobdr .g-menu-inner {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.g-addr {
    font-family: tahoma,verdana,sans-serif;
    margin: -1px 0 -1px -3px;
    padding: 1px 0 1px 3px;
    white-space: nowrap;
}
.g-addr .ico-im {
    margin-right: 3px;
    vertical-align: baseline;
}
.g-addr strong {
    font-weight: normal;
    vertical-align: baseline;
}
.g-addr em {
    color: #717475;
    margin-left: 3px;
    vertical-align: baseline;
}
.g-addr .arr {
    background-position: 16px 16px;
    cursor: pointer;
    font-weight: normal;
    height: 16px;
    overflow: hidden;
    text-indent: 2px;
    vertical-align: top;
    width: 16px;
}
.g-addr-active .arr {
    background-position: -1582px -174px;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
}
.g-addr-move {
    background: none repeat scroll 0 0 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    position: absolute;
}
.g-addr-arr em {
    color: #000000;
}
.g-addr-arr .arr {
    background-position: -1582px -174px;
}
.g-addrs .g-addr {
    border: 1px solid #FFFFFF;
    cursor: default;
    height: 20px;
    margin: 0 4px 0 0;
    overflow: hidden;
    padding: 1px;
}
.ipt-t-dft-hover .g-addr, .ipt-t-dft-active .g-addr {
    border-color: #FFFFE1;
}
.g-addrs .g-addr .wdhlpr {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.g-addrs .g-addr-active {
    cursor: text;
}
.g-addrs .g-addr-active em {
    color: #FFFFFF;
}
.g-addrs .g-addr-edit {
    border: 0 none;
    margin-right: -13px;
    padding: 0;
    width: 13px;
}
.g-addrs .g-addr-edit input {
    font-family: tahoma,verdana,sans-serif;
    height: 15px;
    margin-top: 2px;
    padding: 0 0 0 1px;
    width: 100%;
}
.g-addrs .g-addr-hdnipt {
    border: 0 none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
.g-addrs .g-addr-hdnipt input {
    opacity: 0;
    width: 1px;
}
.g-toolbartabs {
    border-bottom: 1px solid;
    height: 28px;
}
.g-toolbartabs li {
    background-position: 0 -216px;
    bottom: -1px;
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 112px;
}
.g-toolbartabs li.on {
    background-position: 0 -180px;
    color: #000000;
}
.g-stepbar table {
    table-layout: fixed;
    width: 100%;
}
.g-stepbar td {
    background-position: 0 -72px;
    background-repeat: repeat-x;
    color: #888888;
    height: 28px;
    line-height: 28px;
    text-indent: 24px;
}
.g-stepbar .bdr {
    height: 28px;
}
.g-stepbar .bdr-1 {
    background-position: 0 -36px;
    float: left;
    width: 6px;
}
.g-stepbar .bdr-2 {
    background-position: -18px -36px;
    float: right;
    height: 28px;
    position: relative;
    right: -18px;
    width: 18px;
}
.g-stepbar .prev {
}
.g-stepbar .on {
    background-position: 0 -144px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}
.g-stepbar .on .bdr-1 {
    background-position: -72px -36px;
}
.g-stepbar .on .bdr-2 {
    background-position: -90px -36px;
}
.g-stepbar .next {
    background-position: 0 -108px;
    color: #888888;
}
.g-stepbar .next .bdr-1 {
    background-position: -36px -36px;
}
.g-stepbar .next .bdr-2 {
    background-position: -54px -36px;
}
.g-stepbar .end .bdr-2 {
    background-position: -6px -36px;
    right: 0;
    width: 6px;
}
.g-stepbar .next-end .bdr-2 {
    background-position: -42px -36px;
    right: 0;
    width: 6px;
}
.g-stepbar .on-end .bdr-2 {
    background-position: -78px -36px;
    right: 0;
    width: 6px;
}
