

.ke-icon-save {
	background-image: url(./save.png) !important;
	width: 16px;
	height: 16px;
}
.ke-icon-exit {
	background-image: url(./save.png) !important;
	width: 16px;
	height: 16px;
}

