
.ico-pd-skin, .skin-logo, .nD, .lY, .jJ, .WB3-gTop-tabs-close, .WB3-gTop-tabs-rc, .nX, .nY, .of, .g-tab-tabs-rc, .g-toolbarTab-tabs-rc, .g-layer-contact-oprt-arr, .ico-folder-dft, .ico-btn, .ico-dialog, .ico-triangle, .g-dialogBox-hd-oprt, .g-dialogBox-hd-rc, .g-smlBtn-arr, .g-ipt-iconBtn, .g-menu-item-arr, .g-btn-arr, .g-btn-rc, .fn-bg {
    background-image: url("../img/skin_163blue/bg.png");
    background-repeat: no-repeat;
}
.g-toolbarTab-tabs-link, .dr, .iK, .jI .g-menu-label, .WB3-gTop-tabs-item, .g-tab-tabs-link, .g-layer-contact-oprt, .g-pro-inner, .g-dialogBox-hd, .g-table-head, .g-smlBtn-inner, .g-btn-inner, .g-toolbar, .skin-top, .gWel-ltbm, .fn-bgx {
    background-image: url("../img/skin_163blue/bgx.png");
    background-repeat: repeat-x;
}
.skin-logo {
    background: none repeat scroll 0 center transparent;
}
.skin-top {
    background-position: 0 0;
}
.skin-topLeft {
    display: none;
}
.skin-topRight {
    background-image: url("../../lib/img/skins/skin_163blue/top_right.jpg");
}
.skin-main, .skin-mainTop, .iW {
    background: none repeat scroll 0 0 #FFFFFF;
}
.skin-mainSide {
    background: none repeat scroll 0 0 #F6F9FC;
    border-color: #C5D2DA;
}
.skin-mainExt {
    background: none repeat scroll 0 0 #F6F9FC;
}
.skin-side {
    background: none repeat scroll 0 0 #E9F1F5;
    border-color: #8BAABF;
}
.skin-sideTop {
    display: none;
}
.skin-sideBottom {
    display: none;
}
.ix .ma:hover, .gWel-ltbm-ul, .txt-link, a {
    color: #005590;
}
.txt-sideExtLink {
    color: #AEBFD9;
}
.ico-btn-receiving {
    background-image: url("../../lib/img/skins/skin_163blue/checkmail.gif");
}
.mT, .g-dialogBox-dict-result, .g-layer-contact-oprt-item, .g-layer-contact-oprt, .g-layer-inner, .g-block, .g-tips-info, .g-split, .g-split-cMedium, .g-menu-inner, .g-title, .g-seting-item, .g-selectBox, .gWel-rt-weather, .gWel-rt-ad2, .wRmdPic, .bdr-medium {
    border-color: #9CB8CC;
}
.g-editor, .g-tab-tabs, .g-dialogBox-ft, .g-dialogBox-bd, .g-smlBtn-inner, .g-ipt, .g-split-cDark, .gWel-ltb, .gWel-ltbm, .gWel-ltbm-li, .bdr-dark {
    border-color: #6C92AD;
}
.y, .g-contacts-result .g-contacts-link, .g-tips-popup, .gh, .g-addr-editable-hover, .g-split-cLight, .g-tips-popup, .jS, .bdr-light {
    border-color: #C5D2DA;
}
.g-layer-product .g-layer-inner, .g-layer-remark .g-layer-inner, .g-tips-inline .g-tips-inner, .bdr-tips {
    border-color: #C6C5A8;
}
.g-table-col, .bdr-table {
    border-color: #CCCCCC;
}
.g-tips-inline-succ .g-tips-inner, .g-tips-popup-succ, .bdr-succ {
    border-color: #A8BD93;
}
.g-addr-editable-errHover, .g-tips-inline-err .g-tips-inner, .g-tips-popup-err, .g-ipt-err, .bdr-err {
    border-color: #D2AEAE;
}
.g-btn-inner {
    border-color: #969696;
}
.g-btn-hover, .g-btn-inner:hover {
    border-color: #656565;
}
.g-btn-active, .g-btn-inner:active {
    border-color: #6A6A6A;
}
.g-block-hd, .bg-area1 {
    background-color: #E9F0F4;
}
.L .hZ, .dD, .g-dialogBox-ft, .gh, .g-addr-editable-hover, .g-tips-info, .gWel-ltef-hover, .bg-cont .iW, .bg-cont {
    background-color: #F6F9FC;
}
.g-layer, .g-menu, .bg-shadow {
    background-color: #DBE8F2;
}
.g-contacts-link:hover, .g-contacts-link-hover, .eB, .g-menu-noHover .g-menu-item .g-menu-link-hover:hover .g-menu-item-tips, .g-menu-noHover .g-menu-item .g-menu-link-hover:hover, .g-menu-link-hover, .g-menu-link:hover, .jF:hover, .bg-hover {
    background-color: #5D99CE;
    color: #FFFFFF;
}
.g-table-row-hover, .bg-rowHover {
    background-color: #FFFFE1;
}
.g-table-row-active, .bg-rowActive {
    background-color: #FFFFCA;
}
.g-layer-product .g-layer-inner, .y, .fx, .eO, .eO .T, .gf, .gf .T, .g-contacts-result .g-contacts-link:hover, .g-contacts-result .g-contacts-link-hover, .g-layer-remark .g-layer-inner, .g-tips-inline .g-tips-inner, .g-tips-popup, .g-ipt-active, .bg-tips {
    background-color: #FFFFE1;
}
.g-tips-inline-succ .g-tips-inner, .g-tips-popup-succ, .bg-succ {
    background-color: #F1FFE3;
}
.g-addr-editable-errHover, .g-tips-inline-err .g-tips-inner, .g-tips-popup-err, .g-ipt-err, .bg-err {
    background-color: #FFEAEA;
}
.g-addr-editable-active {
    background-color: #5D99CE;
    color: #FFFFFF;
}
.g-toolbarTab-tabs {
    border-color: #CBD7DF;
}
.g-toolbarTab-tabs-link {
    background-color: #ECF2F6;
}
.g-toolbarTab-tabs-item-on .g-toolbarTab-tabs-link {
    background-color: #DAEAF5;
}
.jK .nh {
    background-color: #DBE8F2;
}
.fy, .mt, .lr, .ma {
    color: #AEBFD9;
}
.nZ {
    background: none repeat scroll 0 0 #F7F7F7;
    height: 31px;
    line-height: 31px;
}
.WB3-gTop-tabs-link {
    color: #7392A8;
}
.fn-isLoaded {
    display: none;
}
