<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${c_url_client_easysoft_admin_css_min}" rel="stylesheet" type="text/css" />
<script src="${c_url_client_dojo_min}"></script>
<script src="${c_url_client_easysoft_admin_widget_min}"></script>
<script>
dojo.ready(function(){
	dojo.initPage("${m_projectName}","${sid}","${navIndex}");
	dojo.addWidget( dojo.createObject("${m_page_nav_widget_name}",${str_nav_param_list}), "${c_id_page_nav}" );
	dojo.addWidget( dojo.createObject('${m_page_body_widget_name}',${str_body_param_list}), '${c_id_page_body}' );
	dojo.addWidget( dojo.createObject('${m_page_footer_widget_name}',${str_footer_param_list}), '${c_id_page_footer}' );
});
</script>
</head>
<body>
	<div id="${c_id_page_nav}"></div>
	<div id="${c_id_page_body}"></div>
<div>
<textarea style="width:98%;height:700px;">
<!--ap_body-->
</textarea>
</div>
	<div id="${c_id_page_footer}"></div>
</body>
</html>